<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=3.0; user-scalable=0;"/>
    <title>天津依子轩软件科技有限公司</title>
{% block defaultcss %}
    <link href="{{ STATIC_URL }}webhtml/phone/css/css.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/style.css" rel="stylesheet"/>
{#    <link href="{{ STATIC_URL }}webhtml/phone/css/base.css" type="text/css" rel="stylesheet"/>#}
{% endblock %}
{% block defaultscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}webhtml/js/nav.js"></script>
    <!-- banner  滚动样式-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/css/lrtk.css">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}webhtml/js/jquery.hammer-full.min.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}webhtml/js/plugin.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}web/js/city_data.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}webhtml/js/base.js" type="text/javascript"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    <!-- 代码 结束 -->
{% endblock %}
{% block script1 %}
{% endblock %}

    {% block ext_header %}{% endblock %}
</head>

{% block bodytag %}
<body>
{% endblock %}
{% block body %}

{% endblock %}
{% block bodytagend %}
</body>
{% endblock %}
</html>
