<!doctype html>
<html>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<head>
<meta charset="utf-8">
<title>积分中心</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/css.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/pay.css">

</head>

<body class="app_link_body">

<div class="jifen_top"><strong>累计方法：</strong></div>

<div class="jifen_content">

<p>1、登录送积分：
登录送5分，如连续登录则每天涨5积分。未能连续登录，则重新从5分开始累计40分封顶。 </p>
<div class="table-d">
  <table width="100%" height="" border="0" align="center" cellpadding="0" cellspacing="1">
    <tbody>
      <tr>
        <td width="45%">登录天数</td>
        <td width="">积分数量</td>
      </tr>
      <tr>
        <td>第一天</td>
        <td>5积分</td>
      </tr>
      <tr>
        <td> 第二天</td>
        <td>10积分</td>
      </tr>
      <tr>
        <td> 第三天</td>
        <td>15积分</td>
      </tr>
      <tr>
        <td> 第四天 </td>
        <td>20积分</td>
      </tr>
      <tr>
        <td>第五天 </td>
        <td>25积分</td>
      </tr>
      <tr>
        <td>第六天 </td>
        <td>30积分</td>
      </tr>
      <tr>
        <td>第七天 </td>
        <td>35积分</td>
      </tr>
      <tr>
        <td>第八天 </td>
        <td>40积分</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="jifen_zhushi">之后每天登录都送40积分，不再增长。如果，不能连续登录，则重新从5积分开始计算。</div>
<div>2、应用内，写日志送积分、上传图片等产生新的信息的模块，每创建一条均送2积分。每天封顶10积分。
<br><br>
3、提交反馈送积分，每天每提交一条送2积分。10积分封顶。
<br><br>

4、转发至朋友圈，微博，QQ空间，QQ微博，均可赠送积分。每转发一次赠送5分。</div><br>
</div>

</body>
</html>
