<!doctype html>
<html>
<head>
<meta http-equiv="cache-control" content="no-cache">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta charset="utf-8">
<title>积分兑换</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/css.css">
</head>
<body>
<div class="jinfenduihuan">
<div class="jifen1"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_01.png" alt=""/></div>
<div class="jifen2"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_03.png" alt=""/></div>
<div class="jifen3"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_04.png" alt=""/></div>
<div class="jifen4"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_05.png" alt=""/></div>
<div class="jifen5"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_06.png" alt=""/></div>
<div class="jifen6"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_07.png" alt=""/></div>
<div class="jifen8"><a href="/jifen_detail"><img src="{{ STATIC_URL }}webhtml/phone/images/jfgz_08.png" alt=""/></a></div>
<div class="jifen7"><img src="{{ STATIC_URL }}webhtml/phone/images/jifen_3x_09.png" alt=""/></div>
</div>
</body>
</html>
