<!doctype html>
<html>
<head>
<meta http-equiv="cache-control" content="no-cache">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta charset="utf-8">
<title>项目账户信息</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/css.css">
<!--<link rel="stylesheet" type="text/css" href="css/style.css">
<script type=text/javascript src="js/jquery.min.js"></script>-->
</head>
<body class="chongzhi_bg">
<div class="chongzhi_zhxx">
<ul>

<li>项目名称：<span class="chongzhi_blue">{{ project.total_name }}人</span></li>
<li>项目简称：<span class="chongzhi_blue">{{ project.name }}人</span></li>
<li>当前项目成员：<span class="chongzhi_blue">{{ project.person_nums }}人</span></li>
<li>分组数量：<span class="chongzhi_blue">9组</span></li>
<li>创建日期：<span class="chongzhi_blue">{{ project.create_time }}</span></li>
<li>使用天数：<span class="chongzhi_blue">{{ project.days }}天</span></li>
</ul>
 </div>
<div class="chongzhi_huabian"></div>
    <br>
</body>
</html>