{% extends "cp_manage/phone/base.html" %}
{% block scalabel %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3.0,user-scalable=1"/>
{% endblock %}
{% block title %}
    <title>{{ news.column_name }}</title>
    <meta name="description" content="{{ news.content|truncatewords:"30" }}"/>
{% endblock %}
{% block extjs %}
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/ejs_production.js"></script>
    <script src="{{ STATIC_URL }}cp_manage/phone/js/base.js"></script>
    <script>
    var news_id={{ news.id }};
    var is_sys = {{ news.is_sys }};
    var company_id = '';
    var start = 0;
    var staticUrl = '';
    var is_debug=true;
    function get_news_title(){
        return '{{ news.title }}';
    }
    </script>
{% endblock %}
{% block body %}
    <body class="bg_white2">
    <div class="hot_title_text">
        <h3>
            {{ news.title }}<br />
            <h4>依子轩软件科技&nbsp;&nbsp;&nbsp;{{ news.publish_time}}</h4>
        </h3>
    </div>
    <div class="hot_con01">
        {{ news.content|safe }}
        <p>
            <b>免责声明：本平台资讯内容来源于公开渠道，我们对文中的观点保持中立，对其内容的真实性不具备考证性，仅供参考、交流、学习。文章版权归原作者所有，如涉及侵权，请联系我们删除。</b>
        </p>
        <div class="hot_ci_01"><img src="{{ STATIC_URL }}webhtml/phone/images/redian_icon04.png"><span>{{ news.zan_num }}</span></div>
        <div class="hot_ci_02"><img src="{{ STATIC_URL }}webhtml/phone/images/redian_icon02.png"><span>{{ news.replay_num }}</span></div>
    </div>
    <a name="replay_list" />
    <div class="hot_ci_03">
        <span>评论</span>
    </div>

<script src="{{ STATIC_URL }}cp_manage/phone/js/news_replay.js"></script>
</body>
{% endblock %}
