.required {
    color: red;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.nav-tabs li {
    min-width: 200px;
    text-align: center;
    font-size: 1.5em;
}

.data_item_title {
    font-size: 2em;
    font-weight: bold;
}

.jc_item_status {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

.nav .menu_right_manage {
    display: none;
}

.user_icon_lg {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.project_icon {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.weather_icon {
    max-width: 50px;
    max-height: 50px;
}

.manage_user_item {
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
}

.manage_user_name {
    font-size: 1.2em;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    filter: alpha(opacity=60);
    background-color: #777;
    z-index: 1002;
    left: 0;
    display: none;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.well {
    word-wrap: break-word;
}

.error_tip {
    background-color: #f2dede;
    border-color: #a94442;
    display: inline-block;
    position: absolute;
    z-index: 1080;
    padding: 3px;
    color: #ff2f2f;
    border-radius: 5px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
}

.bootstrap-timepicker {
    margin-left: -12px;
}

.shangchuantupian{font-size:13px; width:840px; height:680px; overflow:hidden; border:1px solid #ededed; }
.sc_left{width:480px; height:100%!important; float:left; text-align:center; padding-top:50px; background:#f5f5f5;}
.xz_img{width:400px; height:px; background:#FFFFFF; margin:20px auto; border:1px solid #d7d7d7; text-align:center; padding:30px 10px;}
.yulan_right{height:659px; float:right; width:320px; font-size:12px; color:#666;  margin:10px 20px 0 0;}
.yulan_right img{ vertical-align:middle;}
.xianshitupiantishi{padding-bottom:20px;}

/*.my-modal{width:840px; height:680px;}*/


