{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>现场安全文明检查</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">	工程知识库</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        现场安全文明检查是指安全员对现场进行安全巡查或专项检查时，所发现的各种安全隐患及文明施工不达标的现象进行详细记录，要求对安全文明问题整改前、整改措施、整改后效果进行记录并存档，是对现场安全措施不到位，存在各种安全隐患的现象进行描述。
照片拍摄时，需把现场安全隐患及整改合格后的效果作为重点的布景对像。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。
    </div>

    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">填写要求：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、问题描述：
<p>描述时需写明现场或工程的楼栋号、楼层号、具体部位、具体的什么安全隐患。如：9#楼23层电梯井临边防护未及时安装防护栏杆（整改前照片）。
<p>2、整改描述：
<p>需要写明什么工种或作业班组对该安全隐患部位进行了什么样的安全处理措施，处理后达到了什么样的结果。点击上传图片，拍摄照片（在同一部位同一角度对整改后的效果进行拍照）。
<p>3、复查意见：
<p>复查合格！或整改合格！

    </div>
    </div>
{% endblock %}