<!doctype html>
<html>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<head>
<meta charset="utf-8">
{% block title %}
<title></title>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/css.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webhtml/phone/css/pay.css">
</head>

{% block bodytag %}
<body class="app_link_body">
{% endblock %}
{% block body %}

{% endblock %}
{% block bodytagend %}
</body>
{% endblock %}
</html>
