{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>施工进度计划</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">施工进度计划</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
施工进度计划功能模块中有两个子项：
1、施工进度计划；2、进度执行情况小结；
此模块主要是上传与施工进度计划有关的文档，如施工总进度计划、月进度计划、周进度计划及各种施工进度总结性文档等，手机端与电脑端均可上传，文件格式为：word、excel、PDF、PPT及JPGE等。上传成功后，项目所有成员能同时在自己的手机移动端查阅到该文档，了解工程施工进度计划及进度完成情况。


    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>（一）、手机端上传（仅支持照片格式）
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片（对着文档进行照片拍摄）；
<p>4、编写需要上传文件的标题；
<p>5、点击“上传”。
<p>（二）、电脑端上传（支持word、excel、PDF、PPT及JPGE等格式文件）。
<p>上传形式为：标题+附件，如：2015年4月份施工进度计划+附件。

    </div>
    </div>
{% endblock %}