{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>工程形象进度</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工程形象进度</div>#}
    </div>
    <div class="jifen_content">

      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        工程形象进度是指工程当前的实际施工部位，是对工程本身的施工情况进行描述。描述时需要写明工程的楼栋号、楼层号、具体部位、具体工种、具体工序或工艺，拍摄照片时具体完成的情况。如：5#楼11层主体结构剪力墙钢筋绑扎，已完成50%（在11层操作层对着剪力墙钢筋拍摄一张远景照片进行上传）。上传成功后，所有项目成员便可同一时间看到工程形象进度。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。

    </div>
    </div>
{% endblock %}