{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>工作影像记录</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工作影像记录</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
工作影像记录是指在工程施工过程中，管理人员或操作人员在工作状态下的各种剪影，是对人的工作描述。照片拍摄时，需把人作为重点的布景对像。
描述时需要写明具体什么人，在什么地方，干什么事。如：1、质量员张三在3#楼8层检查钢筋绑扎质量。2、全体管理人员在项目部会议室召开3月份生产会议。
上传成功后，所有项目成员便可同一时间看到工作影像记录，了解到现场人员具体工作情景。


    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。


    </div>
    </div>
{% endblock %}