{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>工程预决算</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">	工程预决算</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        工程预决算功能模块中有三个子项，1、工程量预算；2、各类结算；3、产值报表；此模块主要是上传预算工程量，结算书等数据类的文档，手机端与电脑端均可上传，文件格式为：word、excel、PDF、PPT及JPGE等。
一般情况由商务人员或预决算员上传。上传方法：编写需要上传文件的标题，点击上传图片，对着文档进行照片拍摄或在手机相册中选择，文档有多页时，可拍多张同时上传。
上传成功后，项目所有成员能同时在自己的手机移动端查阅到该文档，及时了解工程相关数据。


    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>（一）、手机端上传（仅支持照片格式）
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片（文档）；
<p>4、编写需要上传文件的标题；
<p>5、点击“上传”。
<p>（二）、电脑端上传（支持word、excel、PDF、PPT及JPGE等格式文件）。
<p>上传形式为：标题+附件，如：2015年4月份完成产值报表+附件。

    </div>
    </div>
{% endblock %}