{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>施工日志</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">施工日志</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
施工日志功能模块主要是让项目部管理人员把分管的工作，每天用较简洁的语言把它描述出来。如：对现场各楼号、各楼层、各部位、各工种、各工序的施工情况进行描述；各种现场会议、检查、验收活动的情况描述等等，是描述工程现场发生的具体事情，不是对本人正在干什么进行描述。每一件具体的事作为一条日志进行上传，多件事情可以多条上传。上传成功后，所有项目成员便可同一时间看到日志内容，了解现场的工程施工情况。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“写日志”；
<p>2、编写一条日志内容；
<p>3、点击“上传”。



    </div>
    </div>
{% endblock %}