{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>材料设备供应商名录</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工作影像记录</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        材料设备供应商名录是对施工现场的原材料、周转材料、施工机械等一切需要签订供货合同的供应商进行主要信息登记，便于现场所有管理人员及时了解相关信息，必要时可以进行及时的沟通交流。
供应商信息：1、物资名称；2、供应商单位全称；3、供应商负责人；4、负责人联系电话；5、送货联系人；6、送货人联系电话。一般情况由现场材料采购员或合同管理员进行信息录入。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、按表格填写内容；
<p>3、点击“上传”。

    </div>
    </div>
{% endblock %}