{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>施工进度计划</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">施工进度计划</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
<p>施工进度计划功能模块中有两个子项：
<p>1、施工进度计划；
<p>2、进度执行情况小结；
<p>此模块主要是上传与施工进度计划有关的文档，如施工总进度计划、月进度计划、周进度计划及各种施工进度总结性文档等，手机端与电脑端均可上传，文件格式为：word、excel、PDF、PPT及JPGE等。
<p>上传成功后，项目所有成员能同时在自己的手机移动端查阅到该文档，了解工程施工进度计划及进度完成情况。


    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>
    <div class="xiaozhushou_nrtxyq">
        <p>附件的格式：word、excel、PDF、PPT及JPGE等。手机端支持上传照片格式，上传方法：编写需要上传文件的标题，点击上传图片，对着文档进行照片拍摄或在手机相册中选择，文档有多页时，可拍多张同时上传。
        <p>上传成功后，项目所有成员能同时在自己的手机移动端查阅到该文档。

    </div>
    </div>
{% endblock %}