{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>日常巡查记录</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工作影像记录</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        <p>日常巡查记录是指现场管理人员每天在施工现场进行巡查过程中，发现的工程质量问题、安全隐患问题的如实记录，需要立即对操作工人进行技术指导并要求工人立即整改，把可能发生的质量安全问题提前检查出来并消除掉。上传成功后，所有项目成员便可同一时间看到管理人员的日常巡查工作记录，了解到现场人员的具体工作成效。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>
    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。
    </div>

    </div>
{% endblock %}