{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>施工总平面图</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">	施工总平面图</div>#}
    </div>
    <div class="jifen_content">

      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
<p>施工总平面图功能模块主要是上传一些不同施工阶段的施工总平面布置图，现场办公区、生活区等规划图，以及项目的各种效果图，便于项目成员了解自己所在项目的场地具体布置情况，及该项目的外观造型效果，有一个直观的认识。项目部的成员均有权上传文件，上传成功后，项目所有成员能同时在自己的手机移动端查阅到该文档。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>
    <div class="xiaozhushou_nrtxyq  ">
<p>（一）、手机端上传（仅支持照片格式）
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片（平面图或效果图）；
<p>4、编写需要上传文件的标题；
<p>5、点击“上传”。
<p>（二）、电脑端上传（支持word、excel、PDF、PPT及JPGE等格式文件）。
<p>上传形式为：标题+附件，如：施工总平面布置图（基础阶段）+附件。

{#    </div>#}
{#    <div class="bottom_xuxian"></div>#}
{#    </div>#}
{% endblock %}