{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>我型我秀</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">我行我秀</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        <p>我型我秀功能模块主要是让项目部管理人员向项目其他成员（工作圈）展示个性化照片，属自我表现，带有娱乐性的各种暴晒与自秀，可以展示各种照片。
上传成功后，项目所有成员能同时在自己的手机移动端看到晒秀。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。
    </div>
    </div>
{% endblock %}