{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>物资出库记录</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工作影像记录</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">

        <p>物资出库记录是指工地仓库管理员对使用单位来仓库领用的材料物资进行详细的出库登记（注：大宗材料为直进直出的材料，供应商送货直接卸货至工地现场），填写者一般情况为仓库管理员。
仓库管理员把每天使用单位领用的物资按照物资名称、尺寸规格、领用数量、领用单位、领用人进行记录上传，便于所有管理人员及时了解使用单位领用物资情况。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、按表格填写内容；
<p>3、点击“上传”。

    </div>
    </div>
{% endblock %}