{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>物资入库记录</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">工作影像记录</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        <p>物资入库记录是指工地仓库管理员把材料员采购的物资或由供应商供货至工地的物资进行入库登记后，在此进行实时记录，填写者一般情况为仓库管理员。
仓库管理员把每天签收的物资按照物资名称、尺寸规格、入库数量进行详细记录上传，便于所有管理人员及时了解何种物资已到达工地。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、按表格填写内容；
<p>3、点击“上传”。

    </div>
    </div>
{% endblock %}