{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>项目文化展示</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">项目文化展示</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
项目文化展示功能模块是用来向外界展示项目部在项目文化建设中各种文娱活动的集锦，是展示公司优秀的企业文化、项目文化的成果。描述时需写明什么时间什么人在谁的组织下展开了什么性质的活动，取得了什么样的效果。如：今日下班后，项目部全体员工在项目经理张三的带领下，在项目部活动室举行了一场乒乓球小比赛，通过紧张激烈的对决，最终李四王五刘二分别获得了冠亚季军。通过这次小活动，丰富了大家的业余生活，锻炼了身体，增进同事间的友谊。上传成功后，所有项目成员便可同一时间看到项目部文化活动的内容展示。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。
    </div>
    </div>
{% endblock %}