{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>优质工程展示</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">	优质工程展示</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
    优质工程展示功能模块分为两个子模块，1、工程实体；2、安全文明。是项目部用来向外界展示本项目优秀的工程实体质量成果、施工过程中各种工序工艺的优秀做法与实际成果、现场安全文明标化的优秀成果等。是展示现场管理的工作成绩与成果。
描述时需要写明工程的楼栋号、楼层号、具体部位、具体工种、具体工序或工艺，达到了什么样的质量标准。如：1、行政楼二层梁板柱交接部位结构砼成型顺直，砼感观质量好。2、钢筋加工区材料堆放整齐，原材料标示清楚、规范。
上传成功后，所有项目成员便可同一时间看到项目部展示的优质工程成果。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。

    </div>
    </div>
{% endblock %}