{% extends 'webhtml/phone/needhelper/base.html' %}
{% block title %}
<title>工程实体质量检查</title>
{% endblock %}
{% block body %}
{#    <div class="xiaozhushou_top"><img src="{{ STATIC_URL }}webhtml/phone/images/xiaozhushou_02.jpg" width="640" height="182" alt=""/>#}
{#    <div class="xiaozhushou_title">	工程知识库</div>#}
    </div>
    <div class="jifen_content">
      <div class="xiaozhushou_biaoti">相关介绍：</div>
    <div class="xiangguanjieshao">
        <p>工程实体质量检查是指质检人员对工程实体已完成部位进行质量检查或验收时所发现的质量缺陷进行详细记录，要求对质量问题整改前、整改措施、整改后效果进行记录并存档，是对工程实体的质量情况进行描述。
照片拍摄时，需把工作实体质量的缺陷、整改合格后的效果作为重点的布景对像。

    </div>
    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">上传步骤：</div>

    <div class="xiaozhushou_nrtxyq">
<p>1、点击右上角的“新建”；
<p>2、点击“上传图片”；
<p>3、拍摄一张或从手机相册选择一张照片；
<p>4、编写照片所要表达的内容描述；
<p>5、点击“上传”。
    </div>

    <div class="bottom_xuxian"></div>
    <div class="xiaozhushou_biaoti">填写要求：</div>

    <div class="xiaozhushou_nrtxyq">
    <p>1、	问题描述：
    <p>描述时需写明工程的楼栋号、楼层号、具体部位、具体的什么质量问题。
    <p>如：综合楼五层3#楼梯间墙力墙涨模严重（整改前照片）。
    <p>2、	整改描述：
    <p>需要写明什么工种或作业班组对该质量缺陷部位进行了什么样的技术处理措施，处理后达到了什么样的结果。点击上传图片，拍摄照片（在同一部位同一角度对整改后的效果进行拍照）。
    <p>3、复查意见：
    <p>复查合格！或整改合格！
    </div>
    </div>
{% endblock %}