.app_name {
    font-size: 2em;
}

.app_block {
    margin-top: 50px;
}

.app_icon {
    width: 100px;
    height: 100px;
}

#app_top {
    font-size: 20px;
}

.file_type_icon {
    max-height: 50px;
}

.filelist_file_name {
    font-size: 1.2em;
}