{% extends 'web/frame.html' %}
{% block ext_header %}
    <script src="{{ STATIC_URL }}web/js/project.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/all_project.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/my_project.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/create_project.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}web/js/project_info.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}web/js/join_request.js" type="text/javascript"></script>


    <script src="{{ STATIC_URL }}web/js/application.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_filelist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_imagelist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_log.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_gysaddress.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_wzlist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/application_jc.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}web/css/application.css" rel="stylesheet" type="text/css">

    <script src="{{ STATIC_URL }}js/json2.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/strophe-custom-2.0.0.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/easemob.im-1.0.5.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/message.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}web/css/message.css" type="text/css">

    <script src="{{ STATIC_URL }}web/js/manage_user.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/system_message.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/project_message.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}web/js/user_info.js" type="text/javascript"></script>

{% endblock %}
{% block content-title %}{% endblock %}
{% block content %}
{% endblock %}