{% extends 'cp_manage/frame.html' %}
{% block page_content %}
    <div id="view_content"></div>
{% endblock %}
{% block body_bottom %}
    <script src="{{ STATIC_URL }}cp_manage/js/news_look.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/home.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/change_password.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/user_type_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_sys_news.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_sys_news.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_big_company.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_company.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_admin_company_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_set_sys_banner.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_sys_banner.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_sys_column.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_set_sys_column.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_company_news.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_news.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_banner.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_create_company_banner.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_news_column.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_jurisdiction.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_notice_inform.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_file_convey.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_information_publish.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_technical_guidance.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_report_data.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_publicity_contribute.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_engineering_supervision.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_employee_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_news_company_news.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_news_company_profile.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_news_company_culture.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_news_company_performance.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_project_manage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}cp_manage/js/customer_service_company_integrated_engineering_supervision.js" type="text/javascript"></script>




    <script>
        $(function () {
            openView('home');
        });
    </script>
{% endblock %}
