<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table width="600px">
    <tr>
        <td width="50px;">手机号：</td>
        <td ><input name="tel" style="width: 150px;"></td>
        <td width="100px"></td>
    </tr>
    <tr>
        <td>密码：</td>
        <td><input name="password" style="width: 150px;"></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="3"><input type="submit" value="登录"></td>
    </tr>
    <tr>
        <td colspan="3"><div id="loginbtn"></div></td>
    </tr>
</table>
<script type="text/javascript" id="bd_soc_login_boot"></script><script type="text/javascript">(function(){var t = new Date().getTime(),script = document.getElementById("bd_soc_login_boot"),redirect_uri = encodeURIComponent("http://needserver.duapp.com/ns/web_social_callback"),domid = "loginbtn",src = "http://openapi.baidu.com/social/oauth/2.0/connect/login?redirect_uri=" + redirect_uri + "&domid=" + domid + "&client_type=web&response_type=code&media_types=sinaweibo%2Cqqdenglu%2Cbaidu%2Cqqweibo%2Ckaixin%2Crenren&size=-1&button_type=3&client_id=yT9Lxqc0U56Bv0oB7bvotqGg&view=embedded&t=" + t;script.src = src;})();</script>
</body>
</html>