<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>依子轩科技</title>
        <meta name="keywords" content="你的Need,依子轩,软件科技,建设,工程,项目,信息,管理,移动,工具,平台,效率,协同,共享" >
        <meta name="discription" content="“你的NEED”是依子轩软件科技倾心打造的一款建设领域项目信息管理移动工具, 是针对建设工程进行多单位协同工作、信息即时共享、提高工作效率、 提升项目管理水平的工程管理信息平台。">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/bannerStyle.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/animations.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/amazeui.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/jquery.fullPage.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}webhtml/css4/custom.css">
    </head>

<body>

<div id="header">            
        <a id="logo" href="#page1"></a>
        <ul id="menu">
            <li data-menuanchor="page1" class="active"><a href="#page1">首页</a></li>
            <li data-menuanchor="page2"><a href="#page2">产品简介</a></li>
            <li data-menuanchor="page3"><a href="#page3">产品展示</a></li>
            <li data-menuanchor="page4"><a href="#page4">产品下载</a></li>
            <li data-menuanchor="page5"><a href="#page5">媒体聚焦</a></li>
            <li data-menuanchor="page6"><a href="#page6">联系我们</a></li>
        </ul>
        <div id="menu2" class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle zd_btn" data-am-dropdown-toggle href="javascript:;"></a>
            <ul class="am-dropdown-content">
                <li><a href="#page1">首页</a></li>
                <li><a href="#page2">产品简介</a></li>
                <li><a href="#page3">产品展示</a></li>
                <li><a href="#page4">产品下载</a></li>
                <li><a href="#page5">媒体聚焦</a></li>
                <li><a href="#page6">联系我们</a></li>
            </ul>
        </div>
</div>

<div id="linked">
    <ul>
        <li><a href="#"><img src="{{ STATIC_URL }}webhtml/images4/serve0-1.png"><br>在线咨询</a></li>
        <li><a href="/web"><img src="{{ STATIC_URL }}webhtml/images4/serve0-2.png"><br>进入项目</a></li>
    </ul>
</div>

<div id="dowebok">
    <!--section1-->
    <div class="section section1">
        <div id="slider-home">
            <ul class="slides-container">
                <li>
                    <div id="section1-1" class="fullscreen-image"></div>
                    <div class="slider-captions light-caption">
                        <h1 class="fittext more-fast" data-animation="fadeInDown">欢迎访问</br>依子轩软件科技</h1>
                        <p class="uppercase slow" data-animation="fadeInUp">你的 Need&emsp;我的 World</p>
                        <div class="gateway">
                            <a href="/web" class="login">进入项目</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="section1-2" class="fullscreen-image"></div>
                    <div class="slider-captions light-caption">
                        <p class="uppercase slow chuangzao" data-animation="fadeIn">BUSINESS PHILOSOPHY</p>
                        <p class="uppercase slow chuangzao" data-animation="fadeIn"><hr class="sep"></p>
                        <h1 class="fittext more-fast chuangzao" data-animation="fadeInDown">创造价值 用户至上</h1>
                        <p class="uppercase slow" data-animation="fadeInUp">协同工作&emsp;/&emsp;协同管理&emsp;/&emsp;项目动态信息&emsp;/&emsp;实时传送&emsp;/&emsp;即时共享</p>
                    </div>
                </li>
                <li>
                    <div id="section1-3" class="fullscreen-image"></div>
                    <div class="slider-captions light-caption">
                        <p class="uppercase slow" data-animation="fadeInUp"><span class="pmip">MPMP</span></p>
{#                        <p class="uppercase slow" data-animation="fadeInUp">Projection Management Information Platform</p>#}
                        <p class="uppercase slow" data-animation="fadeInUp">Mobile Project Management Platform</p>
                        <h1 class="fittext more-fast chengxin" data-animation="fadeInDown">诚信 创新 专注 分享</h1>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--EOF section1-->

    <!--section2-->
    <div class="section section2">
        <div class="slide" id="slide1" data-anchor="slide1">
            <div class="intro-titile">
                <h1>产品简介 <span class="intro-title-en">MPMP</span></h1>
                <p>Mobile Project Management Platform</p>
                <p class="intro-title-cn">工程项目管理信息平台</p>
            </div>
            <div class="intro-body">
                <div class="intro-body-1"><img src="{{ STATIC_URL }}webhtml/images4/intro-body-4.png"></div>
                <div class="intro-body-2"><img src="{{ STATIC_URL }}webhtml/images4/intro-body-1.png"></div>
                <div class="intro-body-3"><img src="{{ STATIC_URL }}webhtml/images4/intro-body-2.png"></div>
                <div class="intro-body-4"><img src="{{ STATIC_URL }}webhtml/images4/intro-body-3.png"></div>
            </div>
        </div><!--eof slide1-->
        <div class="slide" id="slide2" data-anchor="slide2">
            <div class="intro-soft">
                <h1>你的 Need</h1>
                <a href="#">iOS版</a>
                <a href="#">Adroid版</a>
                <a href="#">PC版</a>
            </div>
            <div class="intro-item">
                <div id="intro-item1">
                    <h2>产品价值</h2>
                    <a href="#page2/slide3" id="toslide3" class="intro-more">more</a>
                </div>
                <div id="intro-item2">
                    <h2>应用模块</h2>
                    <a href="#page2/slide4" id="toslide4" class="intro-more">more</a>
                </div>
                <div id="intro-item3">
                    <h2>即时通信功能</h2>
                    <a href="#" class="intro-more">more</a>
                </div>
            </div>
        </div><!--eof slide2-->
        <div class="slide" id="slide3" data-anchor="slide3">
            <div class="intro-value">
                <div class="value-title">
                    <h1>产品价值<br><small>Product Value</small></h1>
                    <img src="{{ STATIC_URL }}webhtml/images4/page2-3-1.png">
                </div>
                <div class="value-word">
                    <ul>
                        <li id="value-word1">
                            <div class="value-word-item">
                                <div class="value-word-item-title">APP 软件永久免费</div>
                                <div class="value-word-item-word">
                                    无需配置任何硬件，无需建设网络带宽，无需设置专人管理，只需一部智能手机，项目部将省下一大笔直接投入的资金。
                                </div>
                            </div>
                        </li>
                        <li id="value-word2">
                            <div class="value-word-item">
                                <div class="value-word-item-title">轻松使用</div>
                                <div class="value-word-item-word">
                                    APP操作使用简单到家，不需任何软件知识，只需会写字，会拍照即可轻松使用。
                                </div>
                            </div>
                        </li>
                        <li id="value-word3">
                            <div class="value-word-item">
                                <div class="value-word-item-title">为项目部创造直接经济价值</div>
                                <div class="value-word-item-word">
                                    项目部一线的全体管理人员，通过上传工程施工过程中的各种动态信息，能让项目成员第一时间共享到，使团队协作成分配合，做到人人都是安全员，人人都是质量员，全面提高工作效率，提升管理水平，节约工程成本。
                                </div>
                            </div>
                        </li>
                        <li id="value-word4">
                            <div class="value-word-item">
                                <div class="value-word-item-title">通过APP实时掌握施工现场</div>
                                <div class="value-word-item-word">
                                    让不再施工一线的工程管理者，通过APP能够实时掌握施工现场的一切动态信息，让听不见炮声的人，也能轻松指挥战斗，节约了大量往返工地的车油费、差旅费以及宝贵的时间。
                                </div>
                            </div>
                        </li>
                        <li id="value-word5">
                            <div class="value-word-item">
                                <div class="value-word-item-title">远程管理、远程控制</div>
                                <div class="value-word-item-word">
                                    无论何时，无论何地，让项目各方的大老板们时刻掌握现场的施工情况及项目团队的管理状态，遇见问题可快速做出各种反应，制定相应对策，真正做到远程管理、远程控制。
                                </div>
                            </div>
                        </li>
                        <li id="value-word6">
                            <div class="value-word-item">
                                <div class="value-word-item-title">一切权力均在项目部</div>
                                <div class="value-word-item-word">
                                    项目成员查看权限一键设置，工程项目动态信息什么人可查阅，能查阅什么信息，一切权力均在项目部。
                                </div>
                            </div>
                        </li>
                        <li id="value-word7">
                            <div class="value-word-item">
                                <div class="value-word-item-title">永久保存，永不丢失</div>
                                <div class="value-word-item-word"> 
                                    工程各种数据信息无限量上传，直接存储在云端，永久保存，永不丢失，可随时进行工程历时追溯。真正做到无纸化办公，节约大量办公费用。
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="value-back" href="#page2/slide2">返回</a>
            </div>
        </div><!--eof slide3-->
        <div class="slide" id="slide4" data-anchor="slide4">
            <div class="intro-app">
                <div class="app-title">
                    <h1>应用模块 <small>Application</small></h1>
                </div>
                <div class="app-body">
                    <img src="{{ STATIC_URL }}webhtml/images4/page2-4-1.png">
                </div>
                <a class="value-back" href="#page2/slide2">返回</a>
            </div>
        </div><!--eof slide4-->
    </div><!--EOF section2-->

    <!--section3-->
    <div class="section section3">
        <div class="mobile-show">
            <h1>产品展示</h1>
        </div>
        <div class="mobile-show-app">
            <div id="carousel">
              <a href="#"><img src="{{ STATIC_URL }}webhtml/images4/APP1.png" id="item-1" /></a>
              <a href="#"><img src="{{ STATIC_URL }}webhtml/images4/APP2.png" id="item-2" /></a>
              <a href="#"><img src="{{ STATIC_URL }}webhtml/images4/APP3.png" id="item-3" /></a>
              <a href="#"><img src="{{ STATIC_URL }}webhtml/images4/APP4.png" id="item-4" /></a>
              <a href="#"><img src="{{ STATIC_URL }}webhtml/images4/APP5.png" id="item-5" /></a>
            </div>
        </div>
    </div><!--EOF section3-->

    <!--section4-->
    <div class="section section4">
        <div class="app-download">
            <h1>你的Need 在线手机APP下载</h1>
            <div class="service">               
                <div class="service_box">
                    <i class="fa large-icon" id="icon-android"></i>
                    <div class="service-details" id="app-android">
                        <h2>Android版客户端下载</h2>
                        <p>在安卓市场、360手机助手、腾讯应用宝、华为应用市场、百度手机助手等各大应用商店搜索『你的Need』即可下载。</p>
                    </div>
                </div>
                <div class="service_box">
                    <i class="fa large-icon" id="icon-ios"></i>
                    <div class="service-details" id="app-ios">
                        <h2>苹果版客户端下载</h2>
                        <p>在苹果应用商店 App Store 搜索『你的Need』即可下载。</p>
                    </div>
                </div>
            </div>
            <img id="barcode" src="{{ STATIC_URL }}webhtml/images4/barcode.png">
            <div class="mobile-phone">
                <img id="mobile-phone" src="{{ STATIC_URL }}webhtml/images4/mobile-phone.png">
            </div>
            <div class="mobile-phone">
                <img id="mobile-word" src="{{ STATIC_URL }}webhtml/images4/mobile-word.png">
            </div>
        </div>
    </div><!--EOF section4-->

    <!--section5-->
    <div class="section section5">
        <div class="media">
            <h1>媒体聚焦</h1>
            <p>企业要闻&emsp;/&emsp;视频报道&emsp;/&emsp;媒体宣传</p>
            <div class="media-body">
                <ul>
                    <li><a href=""><img src="{{ STATIC_URL }}webhtml/images4/page5-1-1.png"></a></li>
                    <li><a href=""><img src="{{ STATIC_URL }}webhtml/images4/page5-1-3.png"></a></li>
                    <li><a href=""><img src="{{ STATIC_URL }}webhtml/images4/page5-1-2.png"></a></li>
                </ul>
            </div>
        </div>
    </div><!--EOF section5-->

    <!--section6-->
    <div class="section section6">
        <div class="contact">
            <h1>联系我们<br><small>Contact</small></h1>
            <div class="contact-body">
                <ul>
                    <li>
                        <h3>电&emsp;话</h3>
                        <p id="telephone">400 001 5552</p>
                    </li>
                    <li>
                        <h3>邮&emsp;箱</h3>
                        <p><a id="email" href="mailto:easyshare@tjeasyshare.com">easyshare@tjeasyshare.com</a></p>
                    </li>
                    <li>
                        <h3>地&emsp;址</h3>
                        <p id="address">天津市红桥区咸阳北路48号<br>银泰大厦A座13层</p>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--EOF section6-->

</div><!-- dowebok -->


<script src="{{ STATIC_URL }}webhtml/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/jquery.fullPage.min.js"></script>
<script>
    // nav
    $(function(){
        $('#dowebok').fullpage({
            sectionsColor: ['#eee', '#eee', '#eee', '#eee', '#eee', '#eee'],
            'navigation': true,
            'navigationPosition': 'right',
            'navigationTooltips': ['首页', '产品简介', '产品展示', '产品下载', '媒体聚焦','联系我们'],        
            anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
            menu: '#menu',
            'controlArrows': false,     
            css3: true,
            slidesNavigation: true,
        });

        $(window).resize(function(){
            autoScrolling();
        });

        function autoScrolling(){
            var $ww = $(window).width();
            if($ww < 768){
                $.fn.fullpage.setAutoScrolling(false);
            } else {
                $.fn.fullpage.setAutoScrolling(true);
            }
        }
        autoScrolling();
        $('#menu2').dropdown();
    });
</script>
<script src="{{ STATIC_URL }}webhtml/js4/amazeui.min.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/prettyphoto.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/jquery.nicescroll.min.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/jquery.appear.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/jquery.superslides.min.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/jquery.waterwheelCarousel.min.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/scripts.js"></script>
<script src="{{ STATIC_URL }}webhtml/js4/custom.js"></script>
</body>
</html>