{% extends 'webhtml/list.html' %}
{% block right_conetn %}

    <table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <div class="text_title">2015.3.18隆重上市！</div>
            </td>
        </tr>
        <tr>
            <td>
                <br/><br/>

                <div class="news_pic"><img src="{{ STATIC_URL }}webhtml/img/news_pic1.png"></div>
                <div class="text_content">
                    所有与建筑工程相关的单位人员（建设行政主管部门、建设单位、勘察单位、设计单位、监理单位、施工单位、劳务分包单位、专业分包单位等专业管理人员，可以即时获得在施工工程的各种信息，各个成员之间可以进行无障碍即时沟通交流。让项目管理只有时间维度，没有空间限制。
                    所有与建筑工程相关的单位人员（建设行政主管部门、建设单位、勘察单位、设计单位、监理单位、施工单位、劳务分包单位、专业分包单位等专业管理人员，可以即时获得在施工工程的各种信息，各个成员之间可以进行无障碍即时沟通交流。让项目管理只有时间维度，没有空间限制。
                    所有与建筑工程相关的单位人员（建设行政主管部门、建设单位、勘察单位、设计单位、监理单位、施工单位、劳务分包单位、专业分包单位等专业管理人员，可以即时获得在施工工程的各种信息，各个成员之间可以进行无障碍即时沟通交流。让项目管理只有时间维度，没有空间限制。

                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}