{% extends 'webhtml/frame.html' %}

{% block ext_header %}
    <link href="{{ STATIC_URL }}webhtml/css/index.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}webhtml/css/css.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}webhtml/js/include_menu_script1.js" >
    </script>

{% endblock %}

{% block content %}
<table  class="table_list"  align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="280" align="left"  valign="top">
      <!-- 代码 开始 -->
{% include 'webhtml/html/include_menu.html' %}
      </td>
<!-- 代码 结束 -->

<td align="center" valign="top"><div class="text_title">新闻中心</div>
 <div class="text_content">
        <div class="newspage-title"> <strong>互联网+建筑行业=？pong～～</strong></div>
<div class="newspage-date">依子轩软件科技CEO 杜 江  &nbsp;&nbsp;&nbsp;&nbsp; 2015-3-17</div>
<div class="newspage_concent" style=" text-align:left;">
  <p>&nbsp;　&nbsp;&nbsp;李克强总理在3月5日的政府工作报告中，在&ldquo;新兴产业和新兴业态是竞争高地&rdquo;的部分提出：&ldquo;制定&lsquo;互联网+&rsquo;行动计划，推动移动互联网、云计算、大数据、物联网等与现代制造业结合，促进电子商务、工业互联网和互联网金融健康发展，引导互联网企业拓展国际市场。国家已设立400亿元新兴产业创业投资引导基金，要整合筹措更多资金，为产业创新加油助力。&rdquo;总理提出&ldquo;互联网+&rdquo;的概念，对全社会、全行业来说，是一个非常大的振奋。这表明政府将从国家层面建立互联网发展战略，为我国经济转型升级提供新路径。 <br>
    互联网由于具有打破信息不对称、降低交易成本、促进分工深化和提升劳动生产率的特点，为各行各业进行转型升级提供了重要平台和机遇。我们利用互联网的平台，利用信息通信技术，能够把互联网和包括传统行业在内的各行各业结合起来，能够在新的领域创造一种新的生态。&ldquo;互联网+&rdquo;将推动传统行业加速拥抱移动互联网。 <br>
    &nbsp;　&nbsp;&nbsp;2015年已全面进入&ldquo;互联网+&rdquo;时代，各行各业如零售、餐饮、交通、教育、金融、服务、医疗、农业、制造、汽车等已经或者即将全面的进行互联网改造，各种报道、预测充斥媒体。唯独建筑业，这一传统的不能再传统的行业，尤如铁门一扇，一点移动互联网的风都没有刮进来，好像跟它无关一样。 <br>
    &nbsp;　&nbsp;其实，作为国民经济的支柱产业之一的建筑业是最最需要互联网思维及被互联网改造的行业。因为建筑业是为全社会和国民经济各部门提供最终建筑产品的物质生产部门。作为最大最不透明的行业，存在着严重的信息不对称，这必然是会产生巨大的社会资源浪费，同时也带来了整体项目管理水平低下，企业效益较差，行业腐败严重等诸多问题。 <br>
    2015年，社会经济发展进入了新常态，建筑施工企业普遍感受到了市场的阵阵寒冷，面对市场出现的快速变化，互联网思维在各行各业的大行其道，许多大型建筑企业都开始运用互联网思维进行企业战略调整，加快了转型升级的步伐，试图突破瓶颈。在企业及项目信息化建设方面不惜投入巨资，以试图跟互联网挂上勾，简单地认为用企业信息化与各项目关联起来，从而能够至上而下进行有效的管控，提高工作效率，降低企业运作成本，提高企业竞争力。绝大部分的建筑企业都是类似想法与步调，根本就没有搞明白信息化与互联网化的区别，都简单地把信息化等同于互联网化。当前，新商业文明的建立，其基本理念是开放、透明、分享、责任，互联网商业模式一定是建立在平等、开放的基础之上，是真正以人为本的经济，是一种人性的回归。互联网让商业真正地回归了人性，标志着这个时代一定是消费者主权的时代。所以，互联网化一定是以&ldquo;人&rdquo;为核心，在企业生产经营过程中，更加注重&ldquo;人&rdquo;的作用。这里的&ldquo;人&rdquo;一定是包括企业内部员工，外部的用户、消费者、供应商、合作伙伴等等一切利益相关者。而信息化仅仅是企业的内部行为，两者存在着本质的区别。 <br>
    从近几年来看，一个行业被互联网颠覆或者说被改造了，一定是从一款比较轻巧的（移动）互联网产品开始，释放广大消费群体或用户的刚性需求（痛点、痒点、兴奋点）为支点，撬动整体行业，重新进行洗牌，制定规则的。 <br>
    &nbsp;　&nbsp;&nbsp;李克强总理在15日两会闭幕答记者问中说到：&ldquo;大众创业、万众创新是一项改革&rdquo;。在这样一个划时代、创新创业上升到国家发展战略的背景下，天津依子轩软件科技有限公司紧跟时代步伐，顺势而为，认准移动互联网风口，找准切入点，适时准确地推出了建筑行业首款移动互联网产品——&ldquo;你的Need&rdquo;APP（Project  Management Information Platform，简称PMIP）。这是一款多单位、多岗位协同工作，信息共享的项目管理信息平台，能够让所有工程建设管理者实时掌握项目施工过程中的各种动态信息，彻底解决了项目信息不对称的问题，让项目管理从此只有时间维度，没有空间限制。 <br>
  </p> <br>
 <img src="{{ STATIC_URL }}webhtml/img/news_page_clip_image002.jpg" width="310" height="304" align="left">
  <p>&nbsp;　&nbsp;&nbsp;3月18日，&ldquo;你的Need&rdquo;APP——手机移动终端android端、ios端、PC端正式上线，全国首发。标志着建筑行业从此进入了移动互联网时代，提前进入国家&ldquo;互联网+&rdquo;的行动计划行列中。&ldquo;你的Need&rdquo;APP必将不负众望，帮助建筑行业管理者提高工作效率，提升管理水平，推动行业信息建设，促进社会建筑产品整体质量上升，给广大用户创造无限价值。 <br>
  &ldquo;互联网+建筑行业&rdquo;=?   Pong~~~~<br>
  &nbsp;　&nbsp;&ldquo;你的Need&rdquo; 更多资讯，敬请关注依子轩软件科技官方网站（www.easyshare.ren）。 </p>
</div>
 </div>

      </td>
    </tr>
</table>


{% endblock %}