{% extends 'webhtml/frame.html' %}

{% block ext_header %}
    <link href="{{ STATIC_URL }}webhtml/css/index.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}webhtml/css/css.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}webhtml/js/include_menu_script1.js" >
    </script>

{% endblock %}

{% block content %}
<table  class="table_list"  align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="280" align="left"  valign="top">
      <!-- 代码 开始 -->
{% include 'webhtml/html/include_menu.html' %}
      </td>
<!-- 代码 结束 -->

<td align="center" valign="top"><div class="text_title">新闻中心</div>
 <div class="text_content">
        <div class="newspage-title"> <strong>依子轩软件科技乔迁晚宴 各界精英助场</strong></div>
<div class="newspage-date">依子轩软件科技  &nbsp;&nbsp;&nbsp;&nbsp; 2015-3-31</div>
<div class="newspage_concent" style=" text-align:left;">
  <div style=" text-align:center;"><img src="{{ STATIC_URL }}webhtml/img/zhutu.jpg" width="600" height="356"></div>

  &nbsp;　&nbsp;&nbsp;为了庆祝天津依子轩软件科技有限公司（简称：依子轩软件科技）顺利从天津海泰信息广场搬迁至红桥区银泰大厦5A级写字楼，公司创始人兼CEO杜江于3月28日邀请各界精英到天津皇冠维多利亚国际大酒店参加晚宴。晚宴现场，杜总对来宾的到场表示深深地感谢，并对公司研发的建筑行业首款移动互联网产品&ldquo;你的Need&rdquo;APP（项目管理信息平台）做了简单介绍。
<br>
  
    &nbsp;　&nbsp;&nbsp;当天下午6点，晚宴准时举行，杜总对到场来宾做了介绍，并感谢他们的到来：“感谢大家在百忙之中参加依子轩软件科技乔迁晚宴，相信公司在诸位的支持和帮助下会一步步壮大起来，成为‘互联网+’时代建筑业的领跑者，并承担起颠覆建筑业传统管理局面的使命与责任！” <br>
    &nbsp;　&nbsp;到场嘉宾有来自天津建筑业协会、质量监督部门、浙江天津商会、建筑设计院、监理公司及建筑业相关行业的代表和房地产开发商代表，也有来自中天建设、歌山建设、广厦建设、宝业建设等多家行业内标杆特级企业的代表。此外，杜总的高尔夫朋友圈中也有不少社会精英亲临现场。精英们与依子轩软件科技全体员工纷纷举起酒杯庆贺这一激动兴奋的时刻。最后，杜总对“你的Need”APP做了简短介绍，并表示对这款APP为建筑业管理带来的变革充满信心。 <br>
    &nbsp;　&nbsp;&nbsp;为了能让建筑业内人士了解这款APP，杜总在晚宴之前邀请他们到公司进行参观，并带领全体员工热情地迎接了他们，还在会议室为他们讲解了“你的Need”APP开发目的、使用方法及未来将要推出的新模块。业内人士纷纷点头，并对公司未来的发展方向表示肯定。 <br>
  <br>
      <div style="text-align:center;"><img src="{{ STATIC_URL }}webhtml/img/111.jpg" width="600" height="360">
     <br>
<strong> 精心布置的会议现场</strong>
      </div>
 &nbsp;　&nbsp;&nbsp;回顾产品上线前夕，研发人员加班加点日夜钻研，终于保证“你的Need”于3月18日在全国进行首发，正式上线。随着研发及运营团队地不断壮大，公司规模也在相应扩充，于是杜总决定将公司迁至新址。

    <div style=" text-align:center; padding-top:10px;"><img src="{{ STATIC_URL }}webhtml/img/tu3_03.jpg" width="505" height="394"><br>
<strong> 近600平方米的办公场地，全新的办公桌椅及配套设施正如公司现有的整支团队——年轻且充满活力！</strong></div>

  <p>&nbsp;　&nbsp;&nbsp;公司在创办之初就本着“成为所涉行业发展的风向标和引路人、成就员工美好梦想家园”的愿景，努力为建筑业打造一款人性化、高效化的移动互联网产品。公司瞄准建筑业管理痛点，将信息滞后、不对称的现象统统消除在摇篮里，真正实现同一项目内多单位多岗位协同工作，信息互联网化。公司未来几年的发展主线就是将“你的Need”APP做精做细，并大力推广。此次乔迁标志着公司上了一个新的台阶，全体成员将以互联网化的精神与态度书写建筑业新的奇迹！ </p>
</div>
 </div>

      </td>
    </tr>
</table>


{% endblock %}