{% extends 'webhtml/frame.html' %}
{% block ext_header %}
    <link href="{{ STATIC_URL }}webhtml/css/index.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}webhtml/css/css.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}webhtml/js/include_menu_script.js" />
    <script>
    $("#firstpane .menu_body:eq(0)").show();
    </script>
{% endblock %}

{% block content %}
<table  class="table_list"  align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="280" align="left"  valign="top">
      <!-- 代码 开始 -->
 {% include 'webhtml/html/include_menu.html' %}
      </td>

<!-- 代码 结束 -->


      <td align="center" valign="top"><div class="text_title">服务协议</div>
 <div class="text_content">
   <p align="left">重要提示： <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 天津依子轩软件科技有限公司（以下简称&ldquo;依子轩软件科技&rdquo;）在此特别提醒用户：您务必仔细阅读本用户服务协议中的各个条款，本协议为您使用平台服务时所应遵守的各项规定，在本协议中明确了您可以和不可以利用平台服务所进行的各项行动，作为企业用户，您应同意本协议中的各个条款，方可享受服务，并应督促您企业所属员工在接受依子轩软件科技提供的服务时遵守本服务协议之规定。 <br>
  &ldquo;你的Need&rdquo;平台（简称&ldquo;你的Need&rdquo;）系天津依子轩软件科技有限公司开发、研制的为企业提供【建筑施工信息管理】服务的网络技术服务平台。 <br>
     1、知识产权 <br>
     1)&ldquo;你的Need&rdquo;的应用程序、源代码、LOGO、界面设计、应用程序编程接口（API）所关联的所有知识产权均归属依子轩软件科技。 <br>
     2、数据归属权 <br>
     1用户在你的Need创建的数据归属用户企业所有，在服务期内企业用户有权进行任何形式的处置，包括从平台中复制，导出和删除。 <br>
     3、用户使用约定 <br>
     1)用户不得进行任何侵犯本网络服务平台或其要素作品的知识产权的行为，或者进行其他的有损于依子轩软件科技或其他用户合法权益的行为。如用户存在此种行为，依子轩软件科技将采取技术措施防止用户从事下述行为，包括但不限于： <br>
     a)删除或修改本网络服务平台上的版权信息，或者伪造ICP/IP地址或者数据包的名称 <br>
     b)进行编译、反编译、反向工程或者以其他方式破解本网络服务平台的行为 <br>
     c)进行任何破坏本网络服务平台使用公平性或者其他影响其正常使用秩序的行为，如利用BUG（又叫&ldquo;漏洞&rdquo;或者&ldquo;缺陷&rdquo;）来获得不正当的非法利益； <br>
     d)利用技术非法侵入、破坏本网络服务平台之服务器系统，或者修改、增加、删除、窃取、截留、替换本网络服务平台之客户端或服务器系统中的数据，或者非法挤占本网络服务平台之服务器空间，或者实施其他的使之超负荷运行的行为； <br>
     e)发布任何诈骗或虚假信息； <br>
     f)发表、转发、传播含有谩骂、诅咒、诋毁、攻击、诽谤依子轩软件科技和/或第三方内容的，或者含有封建迷信、淫秽、色情、下流、恐怖、暴力、凶杀、赌博、反动、煽动民族仇恨、危害祖国统一、颠覆国家政权等让人反感、厌恶的内容的非法言论； <br>
     g)利用本网络服务平台故意传播恶意程序或计算机病毒，或者利用本网络服务平台发表、转发、传播侵犯第三方知识产权、肖像权、姓名权、名誉权、隐私或其他合法权益的文字、图片、照片、程序、视频和/或动画等资料； <br>
     h)通过你的Need进行垃圾信息发送（本协议所指垃圾短信定义为用户使用本平台功能对其他客户及不同意接收信息的客户、人员进行短信发送等行为） <br>
     4、隐私政策 <br>
     1)依子轩软件科技负有保护与用户有关的资料、数据、作品或其他资料的义务，但因下列原因而披露给第三方的除外： <br>
     a)基于国家法律法规的规定而对外披露； <br>
     b)应国家司法机关及其他有关机关基于法定程序的要求而披露； <br>
     c)为保护依子轩软件科技、合作单位或您的合法权益而披露； <br>
     d)在紧急情况，为保护其他用户及第三人人身安全而披露； <br>
     e)经用户本人同意或应用户的要求而披露。 <br>
     2)你的Need保留使用汇总统计性信息的权利，并且完全通过匿名统计方式，并且不是针对特定用户分析。 <br>
     5、使用限制 <br>
     1)用户如有本《协议》第3条第1款所列行为之一的，依子轩软件科技有权采取下列措施当中的一种或几种并无需通知用户： <br>
     a)断开用户当前使用的计算机与本网络服务平台服务器之间的网络连接； <br>
     b)暂时禁止用户凭借当前使用的网络服务平台服务帐号享有服务； <br>
     c)禁止用户使用本网络服务平台当中某一要求付费的功能，直至清偿所欠费用并为继续使用上述付费功能而预先支付相应的费用之日止； <br>
     d)采取上列措施之外的其他的措施。 <br>
     6、其他约定 <br>
     1)依子轩软件科技有权对本合约的条款进行修订并在修订生效日前一个工作日将更新公开公布在依子轩软件科技网站【www.tjeasyshare.com】。 <br>
     2)本《协议》各条款是可分的，所约定的任何条款如果部分或者全部无效，不影响该条款其他部分及本协议其他条款的法律效力。 <br>
     3)本《协议》各条款的标题只是为了方便用户阅读而起到提示、醒目的作用，对本《协议》的解释及适用没有任何指引作用。 <br>
     4)依子轩软件科技基于本协议及其补充协议的有效的弃权必须是书面的，并且该弃权不能产生连带的相同或者类似的弃权。 <br>
     5)用户与依子轩软件科技因本协议或其补充协议所涉及的有关事宜发生争议或者纠纷，双方可以友好协商解决；协商不成的，任何一方均可以将其提交原告方所在地有管辖权的人民法院诉讼解决。 <br>
     6)本协议及其补充协议签订地为天津，均受中华人民共和国法律、法规管辖。 <br>
     7)依子轩软件科技将会将本协议以新闻的形式于【www.tjeasyshare.com】发布。 <br>
     用户发送垃圾短信给你的Need造成的运维损失，如通信平台停用，行政主管部门对平台的行政处罚或其他正常用户因平台停用申请的损失赔偿等，由违规用户承担。  《&ldquo;你的Need&rdquo;平台用户服务协议》所述内容已经全部浏览及阅读，本公司承诺按照天津依子轩软件科技有限公司公开发布的《&ldquo;你的Need&rdquo;平台用户服务协议》规定的内容使用&ldquo;你的Need&rdquo;平台提供的服务。 </p>
 </div>





      </td>
    </tr>
</table>
{% endblock %}
