<form ajax callback="change_password_callback" class="form-horizontal" role="form">

    <div class="form-group" input-group>
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 原始密码 </label>

        <div class="col-sm-9">
            <input name="old_password" input-check="required" type="password" id="form-field-2" placeholder="原始密码"
                   class="col-xs-10 col-sm-5">
        </div>
    </div>

    <div class="form-group" input-group>
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 新密码 </label>

        <div class="col-sm-9">
            <input name="new_password" input-check="required" type="password" id="form-field-2" placeholder="新密码"
                   class="col-xs-10 col-sm-5">

        </div>
    </div>

    <div class="form-group" input-group>
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 确认密码 </label>

        <div class="col-sm-9">
            <input name="re_password" input-check="required,checkPassword()" type="password" id="form-field-2"
                   placeholder="确认密码" class="col-xs-10 col-sm-5">

        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                提交
            </button>
        </div>
    </div>
</form>