
<div class="row">
    <div class="col-xs-12 col-sm-8">

        <div class="btn-group">
            <button class="btn btn-info" onclick="integrated_image_text();">
                <i class="icon-edit align-top bigger-125"></i>
               图文
            </button>
             <button class="btn btn-info" onclick="integrated_accessory();">
                <i class="icon-edit align-top bigger-125"></i>
                附件
            </button>
             <button class="btn btn-info" onclick="integrated_slide();">
                <i class="icon-edit align-top bigger-125"></i>
                幻灯片
            </button>
        </div>
    </div>
    </br>
    </br>
   <div id="all">

</div>